body{
	font-family: "Montserrat";
}
/*header*/
h1{
	color:#1B2631;
	font-size: 30px;
	margin-left: 360px;
	font: bold;
}
ul{
	margin-left: 23%;
}
.menu{
	display: table-cell;
	padding: 40px;
	text-decoration: none;


}
a{
	color: #707B7C;
	
}

/*comienza el blog*/
.blog{
	background-color: #D8D4D4;
}
.titblog{
	margin-left:650px;
	font-size: 20px;
	padding: 40px;
}
.blog1{
	width: 257px;
	margin-left: 150px;
}
.art1{
	background-color: #cecaca;
	margin-left: 133px;
	width: 62%;
	height: 242px;
}
.titarticulo{
	padding-top: 49px;
    margin-left: 25px;
}
.fecha{
	color:#aba9a9;
	font-size: 16px;
	font-style: italic;
    margin-left: 25px;
}
.desc{
	font-size: 17px;
	margin-left: 24px;
}
.boton_vermas{
	float: left;
	background-color: #04346b	;
	color: white;
	border-radius: 4px 4px;
	width: 185px;
	height: 37px;
	margin-top: 43px;
	font-size: 16px; 
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	margin-left: 2px;

}
.boton_vermas:before {
	 content:'';
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 0px;
	 height: 37px;
	 background: rgba(255,255,255,0.3);
	 border-radius: 4px;
	 transition: all 2s ease;
}
.boton_vermas:hover:before {
 	width: 100%;
}
.ff{
	height: 243px;
}

/*Formulario contacto*/
form{

	width: 75%;
    margin:auto;
    background-color: #E8E7E7;
    padding: 5px;
    margin-top: 35px;
    border-radius: 2px;
}
.contactanos{
	color: #110977;
    margin-left: 75px;
    margin-top: 55px;
    font-size: 32px;
    font:bold;
}
input {
    width: 100%;
    margin-bottom: 2%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 16px;
}
textarea{
	width: 100%;
	margin-bottom: 2%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 16px;
}
#boton_enviar{
	height: 50px;
	width: 405px;
	background-color: #192951;
	color: white;
}
.shoes{
	height: 580px;
	width: 670px;
}
.pie{
	background-color: #192951;
	height: 45px;

}
.pie1{
	color: white;
	font-size: 12px;
	text-align: left;
	padding-top: 25px;

}
