body{
	font-family: "Montserrat";
}
/*header*/
h1{
	color:#1B2631;
	font-size: 30px;
	margin-left: 360px;
	font: bold;
}
ul{
	margin-left: 23%;
}
.menu{
	display: table-cell;
	padding: 40px;
	text-decoration: none;


}
a{
	color: #707B7C;
	
}
/*seccion fon-stu*/
.fon-stu{
	background-image: url(../img/dance_1.jpg);
	height: 480px;
}
.studio{
	color: #C4C7C6;
	margin-left: 5%;
	font-size: 60px;
	padding-top: 50px;

}
.stu1{
	color: #C4C7C6;
	width: 210px;
	padding: 5%;
}
.boton1{
	background-color: #020E1C	;
	color: white;
	border-radius: 4px 4px;
	width: 83px;
	height: 37px;
	margin-top: 0px;
	font-size: 16px; 
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	margin-left: 60px;

}
.boton1:before {
	 content:'';
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 0px;
	 height: 42px;
	 background: rgba(255,255,255,0.3);
	 border-radius: 4px;
	 transition: all 2s ease;
}
.boton1:hover:before {
 	width: 100%;
}
.med{
	background-image: url(../img/textura_2.jpg);
	height: 1000px;
}
.med1{
	margin-left: 250px;
	font-size:25px;
	padding-top: 80px;
	
}
.decoration_1{
	margin-left: 500px;
	margin-top: -35px;
	width: 150px;
}
.boton2{
	background-color: #192951	;
	color: white;
	border-radius: 4px 4px;
	width: 300px;
	height: 70px;
	margin-top: 50px;
	font-size: 16px; 
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	margin-left: -225px;

}
.boton2:before {
	 content:'';
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 0px;
	 height: 70px;
	 background: rgba(255,255,255,0.3);
	 border-radius: 4px;
	 transition: all 2s ease;
}
.boton2:hover:before {
 	width: 100%;
}
.instructor_4{
	width: 675px;
    height: 325px;
    float: left;
    margin-left: -134px;
    margin-top: 94px;
    border: 1.9px solid black;
}
.profesor_9{
	width: 675px;
    height: 325px;
    float: right;
    margin-right: -137px;
    margin-top: 94px;
    border: 1.9px solid black;
}
.content-box-azul{
	width: 400px;
    height: 50px;
    background-color: #192951;
    padding: 15px 120px;
    margin-left: 235px;
    position: relative;
    top: -81px;
}
.texto{
	text-decoration: none;
	color: white;
	padding: 40px 84px;
	font-size: 22px;
}
.texto2{
	text-align: center;
    font-size: 45px;
    padding: 40px 200px;
}
/*seccion contacto*/
.contact{
	background-color: #192951;
	height: 370px;
}
.lorem{
	color: white;
	width: 50%;
	font-size: 13px;
	margin-left: 20%;
	padding-top: 70px;
}
.visitanos{
	font-size: 16px;
	color: white;
	margin-left: 134px;
}
.contacto{
	font-size: 11px;
	color: white;
	margin-left: 134px;
}
.mapa{
	padding-top: 55px;
	margin-left: 140px;
}

/*Formulario contacto*/
form{

	width: 75%;
    margin:auto;
    background-color: #E8E7E7;
    padding: 5px;
    margin-top: 35px;
    border-radius: 2px;
}
.contactanos{
	color: #110977;
    margin-left: 75px;
    margin-top: 55px;
    font-size: 32px;
    font:bold;
}
input {
    width: 100%;
    margin-bottom: 2%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 16px;
}
textarea{
	width: 100%;
	margin-bottom: 2%;
    padding: 3%;
    box-sizing: border-box;
    font-size: 16px;
}
#boton_enviar{
	height: 50px;
	width: 405px;
	background-color: #192951;
	color: white;
}
.shoes{
	height: 580px;
	width: 670px;
}
.pie{
	background-color: #192951;
	height: 45px;

}
.pie1{
	color: white;
	font-size: 12px;
	text-align: left;
	padding-top: 25px;

}
